__pycache__/
ImageNet/train
ImageNet/valid
ImageNet/train200
ImageNet/train_small
ImageNet/valid_small
CIFAR10/train
CIFAR10/valid
CIFAR100/train
CIFAR100/valid
Delta/
!ImageNet/imagenet.sh
!CIFAR10/cifar10.sh
!CIFAR100/cifar100.sh
downloads